*{
    padding: 0;
    margin: 0;
}

.app{
    align-items: center;
    text-align: center;
    height: 200px;
    width: 350px;
    border: 1px solid red; 
    color: black;
    background: #7f98df;

}
    

.login-button{
    background: orange;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
    color: red;
}

.App{
    text-align: center;

}